.slider {
  max-width: 700px;   /* صغّر العرض */
  height: 350px;      /* صغّر الارتفاع */
  margin: 30px auto;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* يحافظ على تناسب الصورة */
}
